#videoBox {
    aspect-ratio: 16/9;
    width: ~"min(80rem, 100vw - 40rem)";
    position: absolute;
    top: 5rem;
    left: 5rem;

    background-color: black;
}

video {
    width: 100%;
    height: 100%;
    display: block;
}

#title {
    position: absolute;
    transition: 0.3s;
    padding: 0.8rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(180deg, #0008, #0000);
}

#btns {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2rem;
    background: #0006;

    display: flex;
    gap: 0 0.75rem;

    transition: 0.3s;

    > button {
        min-width: 2rem;
        height: 2rem;
        border: 0;
        padding: 0;
        background-color: none;
    }
}

#time {
    display: inline-block;
    font-size: 0.7rem;
    line-height: 1rem;
    white-space: pre-wrap;
    font-family: "Roboto Mono", monospace;
}

#range {
    width: 100%;
    height: 100%;

    position: relative;

    > * {
        position: absolute;
        left: 0;
        top: 0.75rem;

        width: 0;
        height: 0.5rem;

        border-radius: 1rem;
    }
}

#rangeBg {
    background-color: #161616;
    width: 100%;
}

#rangeTime {
    background-color: white;
}

#rangeBuff {
    background-color: #222;
}
